<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TrainingProject_Yashwant</display-name>
  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.techaspect.servlet.RegistrationProcessServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>cart</servlet-name>
    <servlet-class>com.techaspect.servlet.CustomerShoppingCartServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CheckOutAddress</servlet-name>
    <servlet-class>com.techaspect.servlet.CheckOutAddressServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderDetails</servlet-name>
    <servlet-class>com.techaspect.servlet.CustomerOrderDetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.techaspect.servlet.ContactProcessServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>productdesc</servlet-name>
    <servlet-class>com.techaspect.servlet.ProductDescriptionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>com.techaspect.servlet.CustomerHomePageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>com.techaspect.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderReview</servlet-name>
    <servlet-class>com.techaspect.servlet.CheckOutOrderReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet4</servlet-name>
    <servlet-class>com.techaspect.servlet.PersonalDetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet6</servlet-name>
    <servlet-class>com.techaspect.servlet.LoginProcessServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VendorDelete</servlet-name>
    <servlet-class>com.techaspect.servlet.VendorProductDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VendorLogout</servlet-name>
    <servlet-class>com.techaspect.servlet.VendorLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerLogout</servlet-name>
    <servlet-class>com.techaspect.servlet.CustomerLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VendorLogin</servlet-name>
    <servlet-class>com.techaspect.servlet.VendorLoginProcessServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Vendorupdated</servlet-name>
    <servlet-class>com.techaspect.servlet.VendorProductUpdateWithLoopServlet</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>VendorEdit</servlet-name>
    <servlet-class>com.techaspect.servlet.VendorEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>vendorproductlist</servlet-name>
    <servlet-class>com.techaspect.servlet.VendorProductListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VendorAddProducts</servlet-name>
    <servlet-class>com.techaspect.servlet.VendorProductSubmittedServlet</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>Servlet5</servlet-name>
    <servlet-class>com.techaspect.servlet.PersonalUpdatedServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductSubmittedJSP</servlet-name>
    <jsp-file>/ProductSubmitted.jsp</jsp-file>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>ProductUpdatedJSP</servlet-name>
    <jsp-file>/ProductUpdateWithLoop.jsp</jsp-file>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/shoppingcart</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CheckOutAddress</servlet-name>
    <url-pattern>/checkoutaddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDetails</servlet-name>
    <url-pattern>/orderdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderReview</servlet-name>
    <url-pattern>/orderreview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet4</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/change</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet5</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet6</servlet-name>
    <url-pattern>/logged</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VendorLogin</servlet-name>
    <url-pattern>/vendorlogin1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>productdesc</servlet-name>
    <url-pattern>/ProductDesc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VendorEdit</servlet-name>
    <url-pattern>/vendoredit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>vendorproductlist</servlet-name>
    <url-pattern>/ProductList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Vendorupdated</servlet-name>
    <url-pattern>/ProductUpdateWithLoop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VendorLogout</servlet-name>
    <url-pattern>/vendorlogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VendorDelete</servlet-name>
    <url-pattern>/vendordelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerLogout</servlet-name>
    <url-pattern>/customerlogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VendorAddProducts</servlet-name>
    <url-pattern>/VendorAddProducts1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductSubmittedJSP</servlet-name>
    <url-pattern>/ProductSubmitted.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductUpdatedJSP</servlet-name>
    <url-pattern>/ProductUpdateWithLoop.jsp</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/Errorpage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/Exceptionpage.jsp</location>
  </error-page>
</web-app>